.Button {
	background: $controlColor;
	height: 21px;
	max-height: 21px;
	min-width: 32px;
	position: relative;
	overflow: visible;
	align-items: center;
	justify-content: center;
	padding: 3px 9px;

	> .label {
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&::before {
		content: "";
		position: absolute;
		pointer-events: none;
		z-index: 0;
	}
}

.Button:active {
}
