// Additional optional feature for Windows based styles.

// button that is not any of the following: combobox, selector, button parented to tab
.button {
	&:active {
		> * {
			transform: translate(1px, 1px);
		}
	}

	&.forceinset {
		> * {
			transform: translate(1px, 1px);
		}
	}

	&.no-inset {
		> * {
			transform: translate(0px, 0px);
		}
	}
}

// dont apply to these

.selector {
	&:active {
		> * {
			transform: translate(0px, 0px);
		} 
	}
}

.TabContainer {
	> .tabs {
		> .button {
			&:active {
				> * {
					transform: translate(0px, 0px);
				}
			}
		}
	}
}
