// Additional optional feature for Windows based styles.


.button {
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;

	> .label:not(.iconpanel) {
		margin-top: 2px;
	} 
}

.selector { 
	 
}

.window {
	padding: 1px;

	> .titlebar {
		> .titleelements {
			> .titleicon {
				margin-left: -0px;
			}

			> .titlelabel {
				top: 0px;
			}

			> .control {
				> .label {
					margin-top: 0px;
					margin-left: 1px;
				}
			}
		}
	}
}

.TabContainer {
	> .tabs {
		> .button {
			&.active {
				> .label {
					margin-top: 0px;
				}
			}
		}
	}
}

.group-box {
	.group-box-title {
		top: -7px;
		left: 5px;
		padding-right: 2px;
		padding-left: 2px;
	}
}