// Additional optional feature for Windows based styles.


$outer-boxshadow: 1px 0px 0px 0px $border-colour-right-outer, 1px 1px 0px 0px $border-colour-right-outer, 1px -1px 0px 0px $border-colour-right-outer, -1px 1px 0px 0px $border-colour-bottom-outer, -1px 0px 0px 0px $button-highlight-outer, 0px -1px 0px 0px $button-highlight-outer, -1px -1px 0px 0px $button-highlight-outer;
$outer-boxshadow-window: 1px 0px 0px 0px $border-colour-right-outer, 1px 1px 0px 0px $border-colour-right-outer, 1px -1px 0px 0px $border-colour-right-outer, -1px 1px 0px 0px $border-colour-bottom-outer, -1px 0px 0px 0px $button-highlight-outer, 0px -1px 0px 0px $button-highlight, -1px -1px 0px 0px $button-highlight;
$outer-boxshadow-inset: 1px 0px 0px 0px $border-colour-right-outer-inset, 1px 1px 0px 0px $border-colour-right-outer-inset, 1px -1px 0px 0px $border-colour-right-outer-inset, -1px 1px 0px 0px $border-colour-bottom-outer-inset, -1px 0px 0px 0px $button-highlight-outer-inset, 0px -1px 0px 0px $button-highlight-outer-inset, -1px -1px 0px 0px $button-highlight-outer-inset;
$outer-boxshadow-window: 1px 0px 0px 0px $border-colour-right-outer-window, 1px 1px 0px 0px $border-colour-right-outer-window, 1px -1px 0px 0px $border-colour-right-outer-window, -1px 1px 0px 0px $border-colour-bottom-outer-window, -1px 0px 0px 0px $button-highlight-outer-window, 0px -1px 0px 0px $button-highlight-outer-window, -1px -1px 0px 0px $button-highlight-outer-window;
$outer-boxshadow-tab: 1px 0px 0px 0px $border-colour-right-outer, -1px 0px 0px 0px $button-highlight-outer, 0px -1px 0px 0px $button-highlight-outer, -1px 1px 0px 0px $button-highlight;
$outer-boxshadow-tab-active: 1px 0px 0px 0px $border-colour-right-outer, -1px 0px 0px 0px $button-highlight-outer, 0px -1px 0px 0px $button-highlight-outer;
$outer-boxshadow-line: 1px 0px 0px 0px $border-colour-right-outer-inset, 1px 1px 0px 0px $border-colour-right-outer-inset, 1px -1px 0px 0px $border-colour-right-outer-inset, -1px 1px 0px 0px $border-colour-bottom-outer-inset, -1px 0px 0px 0px $button-highlight-outer-inset, 0px -1px 0px 0px $button-highlight-outer-inset, -1px -1px 0px 0px $button-highlight-outer-inset;


.window::before {
}

.window {
	padding: 2px;

	&::before {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		border-top: 1px solid $button-highlight;
		border-left: 1px solid $button-highlight;
		border-bottom: 1px solid $button-shadow;
		border-right: 1px solid $button-shadow;
		pointer-events: none;
	}
}

.button {
	&::before {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		border-top: 1px solid $button-light;
		border-left: 1px solid $button-light;
		border-bottom: 1px solid $button-shadow;
		border-right: 1px solid $button-shadow;
		pointer-events: none;
	}

	&:active {
		&::before {
			border-top: 1px solid $button-shadow;
			border-left: 1px solid $button-shadow;
			border-bottom: 1px solid $button-light;
			border-right: 1px solid $button-light;
		}
	}

	&.forceinset {
		&::before {
			border-top: 1px solid $button-shadow;
			border-left: 1px solid $button-shadow;
			border-bottom: 1px solid $button-light;
			border-right: 1px solid $button-light;
		}
	}
}

.toolbar {
	.menu-item {
		&::before {
			border: 0px;
		}
	}

	.toolbar-button {
		&::before {
			border: 0px;
		}
	}
}

.TabContainer {
	> .tabs {
		> .button { 
			overflow: hidden;

			&:active {
				&::before {
					border-top: 1px solid $button-light;
					border-left: 1px solid $button-light;
					border-right: 1px solid $button-shadow;
				}
			}

			&::before {
				border-top-left-radius: 1px;
				border-top-right-radius: 1px;
				border-bottom: 0px;
			}

			border-bottom: 1px solid $button-highlight;


			&.active {
				&::before {
					border-bottom: 0px;
				}

				top: 2px;
				border-bottom: 0px;
			}
		}
	}

	> .sheets {
		&::before {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			border-top: 1px solid $button-light;
			border-left: 1px solid $button-light;
			border-bottom: 1px solid $button-shadow;
			border-right: 1px solid $button-shadow;
			pointer-events: none;
		}
	}
}

.selector {
	&::before {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		border-top: 1px solid $button-dark-shadow;
		border-left: 1px solid $button-dark-shadow;
		border-bottom: 1px solid $button-light;
		border-right: 1px solid $button-light;
		pointer-events: none;
	}

	> .selector_indicator {
		/*
		width: 16px;
		height: 17px;
		margin-right: 1px;

		&::before {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			border-top: 1px solid $button-light;
			border-left: 1px solid $button-light;
			border-bottom: 1px solid $button-shadow;
			border-right: 1px solid $button-shadow;
		}*/
	}
}

.textentry {

	&::before {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		border-top: 1px solid $button-dark-shadow;
		border-left: 1px solid $button-dark-shadow;
		border-bottom: 1px solid $button-light;
		border-right: 1px solid $button-light;
		pointer-events: none;
	}
}

.dropdown-panel {
	.button {
		&::before {
			border: 0px;
		}
	}
}

.checkbox {
	> .checkpanel {
		width: 13px;
		height: 13px;

		&::before {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			border-top: 1px solid $button-dark-shadow;
			border-left: 1px solid $button-dark-shadow;
			border-bottom: 1px solid $button-light;
			border-right: 1px solid $button-light;
			pointer-events: none;
		}
	}

	&.disabled {
		> label {
			filter-drop-shadow: 1px 1px 0px $button-highlight;
		}
	}
}

.slider {

	> .thumb {

		&::before {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			border-top: 1px solid $button-light;
			border-left: 1px solid $button-light;
			border-bottom: 1px solid $button-shadow;
			border-right: 1px solid $button-shadow;
			pointer-events: none;
		}
	}
}

.group-box {
	margin-bottom: 1px;
	border-top: 2px solid $button-highlight;
	border-left: 2px solid $button-highlight;
	border-bottom: 2px solid $button-highlight;
	border-right: 2px solid $button-highlight;

	&::before {
		position: absolute;
		top: -2px;
		left: -2px;
		right: -1px;
		bottom: -1px;
		border-top: 1px solid $button-shadow;
		border-left: 1px solid $button-shadow;
		border-bottom: 1px solid $button-shadow;
		border-right: 1px solid $button-shadow;
		pointer-events: none;
	}
}


.contextmenu {
	&::before {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		border-top: 1px solid $button-highlight;
		border-left: 1px solid $button-highlight;
		border-bottom: 1px solid $button-shadow;
		border-right: 1px solid $button-shadow;
		pointer-events: none;
	}
}

.toolbar {

	.toolbar-separator {
		width: 2px;
		background-color: $button-highlight;
		border-left: 1px solid $button-shadow;
	}
}

.toolbar-throbber {
	border-left: 1px solid $button-shadow;

	&::before {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: -1px;
		border-left: 1px solid $button-highlight;
		pointer-events: none;
	}
}

.toolbar-container {
	border-top: 2px solid $button-highlight;
	border-left: 2px solid $button-highlight;
	border-bottom: 2px solid $button-highlight;
	border-right: 2px solid $button-highlight;

	&::before {
		position: absolute;
		top: -2px;
		left: -2px;
		right: -1px;
		bottom: -1px;
		border-top: 1px solid $button-shadow;
		border-left: 1px solid $button-shadow;
		border-bottom: 1px solid $button-shadow;
		border-right: 1px solid $button-shadow;
		pointer-events: none;
	}

	.toolbar {
		padding-bottom: 1px;
		border-bottom: 1px solid $button-highlight;

		&::before {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			border-bottom: 1px solid $button-shadow;
			pointer-events: none;
		}

		&:last-child {
			// Prevent stupid flickering bug for now
			margin-bottom: 1px;

			&::before {
				border-bottom: 1px solid transparent;
			}
		}
	}
}
.selectlist {
	margin: 1px;
	box-shadow: $outer-boxshadow-inset;
}

.listview {
	padding: 1px;

	&::before {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		border-top: 1px solid $button-dark-shadow;
		border-left: 1px solid $button-dark-shadow;
		border-bottom: 1px solid $button-light;
		border-right: 1px solid $button-light;
		pointer-events: none;
	}
}

LayoutBoxInset {
	&::before {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		border-top: 1px solid $button-dark-shadow;
		border-left: 1px solid $button-dark-shadow;
		border-bottom: 1px solid $button-light;
		border-right: 1px solid $button-light;
		pointer-events: none;
	}
}

LayoutBox {
	&::before {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		border-top: 1px solid $button-dark-shadow;
		border-left: 1px solid $button-dark-shadow;
		border-bottom: 1px solid $button-light;
		border-right: 1px solid $button-light;
		pointer-events: none;
	}
}

Seperator {
	height: 2px;
	border-top: 1px solid $button-shadow;
	background-color: $button-highlight;
}