// Additional optional feature for Windows based styles.


.window {
	border-radius: 0px;
}

.button {
	border-radius: 0px;
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;

	> .label:not(.iconpanel) {
		margin-top: 2px;
	}
}

.selector { 
	 
}

.window {
	padding: 2px;

	& .window1 {
		padding: 3px;
	}

	> .titlebar {
		> .titleelements {
			> .titleicon {
				margin-left: -0px;
			}

			> .titlelabel {
				top: 1px;
			}

			> .control {
				> .label {
					margin-top: 0px;
					margin-left: 1px;
				}
			}
		}
	}
}


.TabContainer {
	> .tabs {
		> .button {
			&.active {
				> .label {
					margin-top: 0px;
				}
			}
		}
	}
}

.group-box {
	.group-box-title {
		top: -7px;
		left: 5px;
		padding-right: 2px;
		padding-left: 2px;
	}
}

.ContextMenu {
	.MenuItem {
		.ItemText {
			top: 1px;
		}
	}
}

.listview {

	.listview-icon-item {
		padding: 4px 1px;

		.listview-text {
			padding: 1px;
			padding-left: 2px;
			padding-right: 2px;
			padding-bottom: 2px;
		}
	}
}