// Additional optional feature for Windows based styles.


.button {
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;

	> .label:not(.iconpanel) {
		margin-top: 2px;
	}

	> .iconpanel {
		margin-left: -4px;
	}
}

.window {
	> .titlebar {
		> .titleelements {
			> .titlelabel {
				top: 1px;
			}

			> .control {
				> .label {
					margin-top: 0px;
				}
			}
		}
	}
}

.TabContainer {
	> .tabs {
		> .button {
			&.active {
				> .label {
					margin-top: 0px;
				}
			}
		}
	}
}
