//@import "/styles/base.scss";
//@import "/styles/form.scss";
@import "/XGUI/FunctionStyles/FunctionStyles.scss";

.Panel {
	color: $default-text-colour;
	font-size: $default-text-size;
	font-family: $default-text-font;
	font-smooth: $default-text-smooth;

	border-top: 1px solid $border-colour-top;
	border-left: 1px solid $border-colour-left;
	border-bottom: 1px solid $border-colour-bottom;
	border-right: 1px solid $border-colour-right;
	background-color: $base-colour;
}
 

@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinWindow.scss";

// ------------------
// Control Elements
// ------------------

// Button
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinButton.scss";

// TextEntry
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinTextBox.scss";

// Tabs
//@import "/XGUI/DefaultStyles/BaseStyles/VGUI/VGUITabs.scss";

// Sidebar
//@import "/XGUI/DefaultStyles/BaseStyles/VGUI/VGUISidebar.scss";

// Slider
//@import "/XGUI/DefaultStyles/BaseStyles/VGUI/VGUISlider.scss";

// Checkbox
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinCheckBox.scss";

// Label Types
//@import "/XGUI/DefaultStyles/BaseStyles/VGUI/VGUILabels.scss";

// ComboBox/Selector/Dropdown
//@import "/XGUI/DefaultStyles/BaseStyles/VGUI/VGUIComboBox.scss";
