//@import "/styles/base.scss";
//@import "/styles/form.scss";
@import "/XGUI/FunctionStyles/FunctionStyles.scss";

.Panel {
	font-size: $default-text-size;
	font-family: $default-text-font;
	font-smooth: $default-text-smooth;

	border-top: 1px solid $button-highlight;
	border-left: 1px solid $button-highlight;
	border-bottom: 1px solid $button-dark-shadow;
	border-right: 1px solid $button-dark-shadow;
	background-color: $button-face;
}
 

@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinWindow.scss";
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinLayout.scss";

// ------------------
// Control Elements
// ------------------

// Button
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinButton.scss";

// TextEntry
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinTextBox.scss";

// Tabs
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinTabs.scss";

// Sidebar
//@import "/XGUI/DefaultStyles/BaseStyles/VGUI/VGUISidebar.scss";

// Toolbar
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinToolbar.scss";

// Slider
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinSlider.scss";

// Checkbox
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinCheckBox.scss";

// RadioButton
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinRadioButton.scss";

// Label Types
//@import "/XGUI/DefaultStyles/BaseStyles/VGUI/VGUILabels.scss";

// ComboBox/Selector/Dropdown
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinComboBox.scss";

// GroupBox
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinGroupBox.scss";

// ContextMenu
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinContextMenu.scss";

// SelectList
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinSelectList.scss";

// ListView
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinListView.scss";

// TreeView
@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinTreeView.scss";

/// ------------------
/// Extra Elements
/// ------------------

// FileBrowserView
@import "/XGUI/DefaultStyles/BaseStyles/Windows/Extras/WinFileBrowserView.scss";

// MessageBox
@import "/XGUI/DefaultStyles/BaseStyles/Windows/Extras/WinMessageBox.scss";

/// ------------------
/// Utils
/// ------------------

// Disabled

@import "/XGUI/DefaultStyles/BaseStyles/Windows/WinDisabled.scss";



LayoutBoxInset {
	border-bottom: 1px solid $button-highlight;
	border-right: 1px solid $button-highlight;
	border-top: 1px solid $button-shadow;
	border-left: 1px solid $button-shadow;
}

LayoutBox {
	background-color: $button-face;
	border-top: 1px solid $button-highlight;
	border-left: 1px solid $button-highlight;
	border-bottom: 1px solid $button-dark-shadow;
	border-right: 1px solid $button-dark-shadow;
}

Seperator {
	background-color: $button-highlight;
	height: 1px;
	width: 100%;
}

SeperatorVertical {
	background-color: $button-highlight;
	width: 2px;
	height: 100%;
	border-left: 1px solid $button-shadow;
}
