// Additional optional feature for Windows based styles.
// Replicates the effects of Visual Styles for styles not using visual style like images.

.TabContainer { 
	> .tabs {   

		> .button { 
			border-radius: 0px;
			min-width: 0px; 

			&.active { 
				//stick out and overlap other tabs
				margin-right: -2px;
				margin-left: -2px;
				padding-right: 8px;
				padding-left: 8px;

				&:first-child {
					margin-left: 0px;
				}
			}

			&:first-child {
				margin-left: 2px;
			}

			&:hover {
			}
		}
	}

	> .sheets { 
	}
}
