@import "/XGUI/FunctionStyles/FunctionStyles.scss";

//////////////

$default-text-size: 11px;
$default-text-font: "Microsoft Sans Serif";
$default-text-smooth: never;

$window-title-text-size: 11px;
$window-title-text-weight: bold;

//////////////

$active-title: #000080;
$title-text: #ffffff;
$inactive-title: #808080;
$inactive-title-text: #C0C0C0;

$active-border: #C0C0C0;
$inactive-border: #C0C0C0;

$window: #FFFFFF;
$window-text: #000000;
$window-frame: #000000;

$scrollbar: #C0C0C0;

$menu: #C0C0C0;
$menu-text: #000000;

$app-workspace: #808080;

$info-text: #000000;
$info-window: #FFFFFF;

$highlight: #000080;
$highlight-text: #FFFFFF;
$highlight-tint: #7F7FBF;

$grey-text: #808080;

$button-face: #C0C0C0;
$button-shadow: #808080;
$button-text: #000000;
$button-highlight: #FFFFFF;
$button-dark-shadow: #000000;
$button-light: #DFDFDF;

$background: #008080;

@import "/XGUI/DefaultStyles/BaseStyles/Windows.scss";
@import "/XGUI/DefaultStyles/BaseStyles/Windows+Grooves.scss";
@import "/XGUI/DefaultStyles/BaseStyles/Windows+ButtonInset.scss";
@import "/XGUI/DefaultStyles/BaseStyles/Windows+ClassicQuirks.scss";


.TabContainer {
	> .tabs {

		> .button { 
			min-width: 0px;

			&.active {
				//stick out and overlap other tabs
				margin-right: -2px;
				margin-left: -2px;
				padding-right: 8px;
				padding-left: 8px;

				&:first-child {
					margin-left: 0px;
				}
			}

			&:first-child {
				margin-left: 2px;
			}

			&:hover {
			}
		}
	}

	> .sheets {
	}
}

.window1 {
	padding: 2px;
}