//@import "/styles/base.scss";
//@import "/styles/form.scss";
@import "/XGUI/FunctionStyles/FunctionStyles.scss";

$accent-colour: #005FB8;
$accent-colour-2: #0078D7;

$border-colour: #595959;

$base-colour: #616466;
$base-colour-inset: #FFFFFF;
$base-colour-active: #00047C;

$sheet-colour: #787A7C;
$sheet-colour-active: #9DA0A4;
$sheet-border-colour-top: #3B3B3B;
$sheet-border-colour-left: #3B3B3B;
$sheet-border-colour-bottom: #3B3B3B;
$sheet-border-colour-right: #3B3B3B;

$control-colour: #FDFDFD;
$control-colour-inset: #FFFFFF;
$control-colour-hover: #E0EEF9;
$control-colour-active: #CCE4F7;
$control-colour-focus: #FDFDFD;
$control-colour-open: #CCE4F7;

$control-border-colour-top: #595959;
$control-border-colour-left: #595959;
$control-border-colour-bottom: #595959;
$control-border-colour-right: #595959;

$control-border-colour-top-hover: #0078D4;
$control-border-colour-left-hover: #0078D4;
$control-border-colour-bottom-hover: #006BBE;
$control-border-colour-right-hover: #0078D4;

$control-border-colour-top-active: #005499;
$control-border-colour-left-active: #005499;
$control-border-colour-bottom-active: #005499;
$control-border-colour-right-active: #005499;

$control-border-colour-top-focus: #0078D4;
$control-border-colour-left-focus: #0078D4;
$control-border-colour-bottom-focus: #006BBE;
$control-border-colour-right-focus: #0078D4;

$control-border-colour-top-open: #005FB7;
$control-border-colour-left-open: #005FB7;
$control-border-colour-bottom-open: #005FB7;
$control-border-colour-right-open: #005FB7;

$groupbox-border-colour: #DCDCDC;

$border-colour-top: #595959;
$border-colour-left: #595959;
$border-colour-bottom: #595959;
$border-colour-right: #595959;

$border-colour-top-outer: #FFFFFF;
$border-colour-left-outer: #FFFFFF;
$border-colour-bottom-outer: #000000;
$border-colour-right-outer: #000000;

$window-titlebar-colour: #6E7073;
$window-titlebar-colour-inactive: #76797C;
$window-titlebar-text-colour: #000000;
$window-titlebar-text-colour-inactive: #919191;
$window-title-text-weight: normal;
$window-title-text-size: 12px;

$border-colour-top-window: #434343;
$border-colour-left-window: #434343;
$border-colour-bottom-window: #434343;
$border-colour-right-window: #434343;

$border-colour-top-outer-window: #DFDFDF;
$border-colour-left-outer-window: #DFDFDF;
$border-colour-bottom-outer-window: #000000;
$border-colour-right-outer-window: #000000;

$border-colour-top-inset: #595959;
$border-colour-left-inset: #595959;
$border-colour-bottom-inset: #595959;
$border-colour-right-inset: #595959;

$border-colour-top-outer-inset: #808080;
$border-colour-left-outer-inset: #808080;
$border-colour-bottom-outer-inset: #FFFFFF;
$border-colour-right-outer-inset: #FFFFFF;

$slider-track-colour: #E7EAEA;
$slider-track-border-colour-top: #D6D6D6;
$slider-track-border-colour-left: #D6D6D6;
$slider-track-border-colour-bottom: #D6D6D6;
$slider-track-border-colour-right: #D6D6D6;

$slider-step-colour: #C4C4C4;
$slider-step-min-colour: #C4C4C4;
$slider-step-max-colour: #C4C4C4;

$slider-thumb-colour: #0078D7;
$slider-thumb-border-colour-top: #0078D7;
$slider-thumb-border-colour-left: #0078D7;
$slider-thumb-border-colour-bottom: #0078D7;
$slider-thumb-border-colour-right: #0078D7;

$default-text-size: 12px;
$default-text-font: Tahoma;
$default-text-smooth: auto;

$default-text-colour: #FFFFFF;
$default-text-colour-active: #FFFFFF;
$default-text-colour-alt: #FFFFFF;

$outer-boxshadow: 1px 0px 0px 0px $border-colour-right-outer, 1px 1px 0px 0px $border-colour-right-outer, 1px -1px 0px 0px $border-colour-right-outer, -1px 1px 0px 0px $border-colour-bottom-outer, -1px 0px 0px 0px $border-colour-left-outer, 0px -1px 0px 0px $border-colour-top-outer, -1px -1px 0px 0px $border-colour-top-outer;
$outer-boxshadow-inset: 1px 0px 0px 0px $border-colour-right-outer-inset, 1px 1px 0px 0px $border-colour-right-outer-inset, 1px -1px 0px 0px $border-colour-right-outer-inset, -1px 1px 0px 0px $border-colour-bottom-outer-inset, -1px 0px 0px 0px $border-colour-left-outer-inset, 0px -1px 0px 0px $border-colour-top-outer-inset, -1px -1px 0px 0px $border-colour-top-outer-inset;
$outer-boxshadow-window: 1px 0px 0px 0px $border-colour-right-outer-window, 1px 1px 0px 0px $border-colour-right-outer-window, 1px -1px 0px 0px $border-colour-right-outer-window, -1px 1px 0px 0px $border-colour-bottom-outer-window, -1px 0px 0px 0px $border-colour-left-outer-window, 0px -1px 0px 0px $border-colour-top-outer-window, -1px -1px 0px 0px $border-colour-top-outer-window;
$outer-boxshadow-tab: 1px 0px 0px 0px $border-colour-right-outer, -1px 0px 0px 0px $border-colour-left-outer, 0px -1px 0px 0px $border-colour-top-outer;


@import "/XGUI/DefaultStyles/BaseStyles/Windows.scss";
@import "/XGUI/DefaultStyles/BaseStyles/Windows+VisualStyleQuirks.scss";

.Window {
	font-weight: 500;
	border-radius: 3px;
	border: 1px solid #434343;

	> .TitleBar {
		padding: 2px;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		border: 1px solid #858789;
		border-bottom: 0px;
		height: 23px;
		align-items: center;
		color: #B5B5B6;

		> .TitleElements {
			margin-bottom: 2px;

			> .TitleIcon {
				width: 0px;
				height: 0px;
			}

			> .Control {
				border-radius: 0px;
				background-color: #E0E0E0;
				border: 0px;
				width: 29px;
				height: 16px;
				margin-left: 1px;
				filter: drop-shadow(0px 1px 0px 0px #494C4D);
				color: #79797A;
				background-image: none;
				font-family: Marlett;
				align-items: center;
				justify-content: center;
				font-smooth: never;
			}

			> .MinimiseButton {
				width: 28px;
				border-top-left-radius: 2.1px;
				border-bottom-left-radius: 2.1px;
			}

			> .CloseButton {
				border-top-right-radius: 2.1px;
				border-bottom-right-radius: 2.1px;
			}
		}
	}

	> .Window-Content {
		border: 1px solid #757779;
		border-top: 0px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}
}

.Button {
	height: 22px;
	border-radius: 2px;
	color: #515151;
	border-image: url("XGUI/Resources/gmod/button.png");
	background: url("XGUI/Resources/gmod/button_bg.png");
	background-size: contain;
	background-repeat:repeat-x;
	border-image-width-top: 2px;
	border-image-width-left: 2px;
	border-image-width-right: 2px;
	border-image-width-bottom: 2px;
	border-width: 2px; 
}

.TextEntry,
.TextBox {
	color: black;
	border-image: url("XGUI/Resources/gmod/textentry.png");
	border-image-width-top: 5px;
	border-image-width-left: 5px;
	border-image-width-right: 5px;
	border-image-width-bottom: 5px;
	border-width: 5px;
	height: 20px;
}


.Selector,
.ComboBox {
	color: black;
	border-image: url("XGUI/Resources/gmod/combobox.png");
	background: url("XGUI/Resources/gmod/combobox_bg.png");
	background-size: contain;
	background-repeat: repeat-y;
	border-image-width-top: 2px;
	border-image-width-left: 2px;
	border-image-width-right: 2px;
	border-image-width-bottom: 2px;
	border-width: 2px;
	height: 20px;
}