//@import "/styles/base.scss";
//@import "/styles/form.scss";
@import "/XGUI/FunctionStyles/FunctionStyles.scss";

$accent-colour: #005FB8;
$accent-colour-2: #0078D7;

$border-colour: #0078D7;

$base-colour: #38393C;
$base-colour-alt: #201F21;
$base-colour-inset: #FFFFFF;
$base-colour-active: #00047C;

$sheet-colour: #38393C;
$sheet-colour-active: #38393C;
$sheet-border-colour-top: #404145;
$sheet-border-colour-left: #E5E5E5;
$sheet-border-colour-bottom: #E5E5E5;
$sheet-border-colour-right: #E5E5E5;

$control-colour: #48494C;
$control-colour-2: #414144;
$control-colour-hover: #787A7F;
$control-colour-hover-2: #717377;
$control-colour-active: #606165;
$control-colour-active-2: #595A5E;
$control-colour-focus: #48494C;
$control-colour-focus-2: #414144;
$control-colour-open: #CCE4F7;
$control-colour-open-2: #CCE4F7;

$control-border-colour: #525356; 
$control-border-colour-hover: #838589;
$control-border-colour-active: #6B6C70;
$control-border-colour-focus: #0078D4;
$control-border-colour-open: #005FB7;

// button types

$control-colour-primary: #3F73D4;
$control-colour-primary-2: #3C6FCD;
$control-colour-primary-hover: #4C8AFF;
$control-colour-primary-hover-2: #4C8AFF;
$control-colour-primary-active: #4681EE;
$control-colour-primary-active-2: #447DE6;

$control-border-colour-primary: #618DDF;
$control-border-colour-primary-hover: #70A2FF;
$control-border-colour-primary-active: #6C9DF8;

// -------------

$control-inset-colour: #201F21;
$control-inset-colour-hover: #19181A;

$checkbox-colour: #201F21;
$checkbox-colour-checked: #323E4D;
$checkbox-border-colour-checked: #3D5168;
$checkbox-icon-colour: #54A6FF;
 
$border-colour-top: #D0D0D0;
$border-colour-left: #D0D0D0;
$border-colour-bottom: #BABABA;
$border-colour-right: #D0D0D0;

$border-colour-top-outer: #FFFFFF;
$border-colour-left-outer: #FFFFFF;
$border-colour-bottom-outer: #000000;
$border-colour-right-outer: #000000;

$window-titlebar-colour: #151515;
$window-titlebar-colour-inactive: #333333;
$window-titlebar-text-colour: #F8F8F8;
$window-titlebar-text-colour-inactive: #919191;
$window-title-text-weight: normal;

$window-border-colour: #18191A; 

$border-colour-top-outer-window: #DFDFDF;
$border-colour-left-outer-window: #DFDFDF;
$border-colour-bottom-outer-window: #000000;
$border-colour-right-outer-window: #000000;

$border-colour-top-inset: #000000;
$border-colour-left-inset: #000000;
$border-colour-bottom-inset: #DFDFDF;
$border-colour-right-inset: #DFDFDF;

$border-colour-top-outer-inset: #808080;
$border-colour-left-outer-inset: #808080;
$border-colour-bottom-outer-inset: #FFFFFF;
$border-colour-right-outer-inset: #FFFFFF;

$slider-track-colour: #343334;
$slider-track-colour-inner: #808080;

$slider-step-colour: #C4C4C4;
$slider-step-min-colour: #C4C4C4;
$slider-step-max-colour: #C4C4C4;

$slider-thumb-colour: #808080;

$default-text-size: 12px;
$default-text-font: none;
$default-text-smooth: auto;

$title-text-size: 12px;
$title-text-font: Poppins;
$title-text-weight: black;
$title-text-smooth: auto;

$default-text-colour: #DDDDDD;
$default-text-colour-active: #FFFFFF;
$default-text-colour-inactive: #67686C;
$default-text-colour-alt: #111111;

@import "/XGUI/DefaultStyles/BaseStyles/Sbox.scss";
  
 