//@import "/styles/base.scss";
//@import "/styles/form.scss";
@import "/XGUI/FunctionStyles/FunctionStyles.scss";

$base-colour: #A0A0A080;
$base-colour-inset: #00000080;
$base-colour-active: #A0A0A080;
$base-colour-solid: #6F6F6E;
$base-colour-solid2: #A2A2A2;
$base-colour-solid2-active: #FF9C00;
$base-colour-alt: #6F6F6E;

$border-colour-top: #C8C8C8C4;
$border-colour-left: #C8C8C8C4;
$border-colour-bottom: #282828C4;
$border-colour-right: #282828C4;


$border-colour-top-inset: #282828C4;
$border-colour-left-inset: #282828C4;
$border-colour-bottom-inset: #C8C8C8C4;
$border-colour-right-inset: #C8C8C8C4;


$default-text-colour: #DDDDDDFF;
$default-text-colour-active: #FFFFFF;
$default-text-colour-label: #DDDDDDFF;
$default-text-colour-info: #BEBEBEFF;
$default-text-colour-disabled-shadow: #DDDDDDFF;
$default-text-size: 13px;
$default-text-font: Tahoma;
$default-text-smooth: never;

$slider-step-colour: #DDDDDDFF;
$slider-step-min-colour: #DDDDDDFF;
$slider-step-max-colour: #DDDDDDFF;

$window-title-icon: url("XGUI/Resources/icon_steam.png");
$window-minimise-button: url("XGUI/Resources/icon_minimize.png");
$window-maximise-button: url("XGUI/Resources/icon_maximize.png");
$window-close-button: url("XGUI/Resources/icon_close.png");
$window-resize-icon: url("XGUI/Resources/icon_resizer.png");

$control-dropdown-arrow: url("XGUI/Resources/icon_down.png");

$gamemenu-logo: url("XGUI/Resources/game_menu.png");
$gamemenu-logo-hover: url("XGUI/Resources/game_menu_mouseover.png");

@import "/XGUI/DefaultStyles/BaseStyles/VGUI-Source-Transparent.scss";
