.Button {
	height: 21px;
	align-items: center;
	justify-content: center;
	border-top: 0.25px solid $control-border-colour-top;
	border-left: 0.25px solid $control-border-colour-left;
	border-bottom: 0.25px solid $control-border-colour-bottom;
	border-right: 0.25px solid $control-border-colour-right;
	background-color: $control-colour;

	&:hover {
		border-top: 0.25px solid $control-border-colour-top-hover;
		border-left: 0.25px solid $control-border-colour-left-hover;
		border-bottom: 0.25px solid $control-border-colour-bottom-hover;
		border-right: 0.25px solid $control-border-colour-right-hover;
		background-color: $control-colour-hover;
	}

	&:active {
		border-top: 0.25px solid $control-border-colour-top-active;
		border-left: 0.25px solid $control-border-colour-left-active;
		border-bottom: 0.25px solid $control-border-colour-bottom-active;
		border-right: 0.25px solid $control-border-colour-right-active;
		background-color: $control-colour-active;

		&:focus, &.focus {
			border: 0px;
		}
	}

	&:focus, &.focus {
		box-shadow: 0px 0px 0px 2px black, $outer-boxshadow;
	}
}
