.ContextMenu {
	background-color: $button-face;
	border-top: 1px solid $button-light;
	border-left: 1px solid $button-light;
	border-bottom: 1px solid $button-dark-shadow;
	border-right: 1px solid $button-dark-shadow;
	background-color: $button-face;
	padding: 2px;

	.MenuItem {
		min-width: 100px;
		height: 17px;
		align-items: center;

		.ItemText {
			margin-right: 16px;
		}

		.ItemArrow {
			right: 0px;
			position: absolute;
			font-size: 17px;
		}

		.ItemIcon {
			margin-left: 2px;
			margin-right: 3px;
			width: 16px;
			height: 16px;
		}

		.CheckIcon {
			margin-left: 2px;
			margin-right: 3px;
			width: 16px;
			height: 16px;

			&.checked {
				font-family: Marlett;
				font-size: 16px;
				content: "a";
			}
		}

		.RadioIcon {
			margin-left: 2px;
			margin-right: 3px;
			width: 16px;
			height: 16px;

			&.selected {
				font-family: Marlett;
				font-size: 16px;
				content: "i";
			}
		}

		&.open {
			background-color: $highlight;
			color: $highlight-text;
		}

		&:hover {
			background-color: $highlight;
			color: $highlight-text;
		}
	}

	.Menu-Separator {
		background-color: $button-highlight;
		height: 2px;
		align-self: stretch;
		margin-left: 1px;
		margin-right: 1px;
		border-top: 1px solid $button-shadow;
		margin-top: 3px;
		margin-bottom: 4px;
	}

	&.Large {
		padding: 0px;
		padding-top: 1px;
		padding-bottom: 1px;

		.MenuItem {
			margin: 1px;
			height: 20px;
			min-width: 136px;

			.ItemIcon {
				margin-left: 6px;
				margin-right: 6px;
			}
		}
	}
}
