.listview {
	border-top: 1px solid $button-shadow;
	border-left: 1px solid $button-shadow;
	border-bottom: 1px solid $button-highlight;
	border-right: 1px solid $button-highlight;
	background-color: $window;

	.listview-header {
		border-bottom: 1px solid $button-dark-shadow;
		background-color: $button-dark-shadow;

		.listview-header-column {
			background-color: $button-face;
			border-top: 1px solid $button-highlight;
			border-left: 1px solid $button-highlight;
			border-bottom: 1px solid $button-shadow;
			border-right: 1px solid $button-shadow;

			.label {
				padding-top: 1px;
			}

			&:not(:last-child) {
				margin-right: 1px;
			}

			&.selected {
				background-color: $highlight;
				color: $highlight-text;
			}
		}
	}

	.listview-container {
	}

	.listview-item {


		&.shortcut {
			.listview-icon {
				&::after {
					position: absolute;
					background-image: url("XGUI/Resources/shortcut.png");
					width: 11px;
					height: 11px;
					bottom: 0px;
					left: 0px;
				}
			}
		}

		&.listview-row {
			.listview-icon {
				margin-left: 1px;
			}

			.label {
				text-overflow: ellipsis;
				overflow: hidden;
				margin-left: 1px;
				padding: 2px;
			}
		}

		.listview-cell {

			.label {
				white-space: nowrap;
				word-break: break-all;
				text-overflow: ellipsis;
			}
		}

		&.selected {
			// Likely the name of the item
			:first-child {
				&:not(.TextEntry) {
					> .listview-text {
						background-color: $highlight;
						color: $highlight-text;

						&::before {
							position: absolute;
							top: 0px;
							left: 0px;
							bottom: 0px;
							right: 0px;
							border: 1px solid $window;
							mask-image: url("XGUI/Resources/checker1x1.png");
							// No clue why saturate is needed, but it is. invert is stupid on borders for some reason.
							filter: invert(1) saturate(3.65);
						}
					}
				}
			}

			> .listview-text {
				&::before {
					position: absolute;
					top: 0px;
					left: 0px;
					bottom: 0px;
					right: 0px;
					border: 1px solid $window;
					// No clue why this is needed, but it is. invert is stupid on borders for some reason.
					filter: invert(1) saturate(3.65);
					mask-image: url("XGUI/Resources/checker1x1.png");
				}
			}

			.TextEntry {
				border: 1px solid black;

				&::before {
					border: 0px;
				}

				height: auto;
				overflow: scroll;
				flex-shrink: 1;

				.label {
					flex-grow: 0;
				}
			}
		}
	}
}

.Panel {
	&:focus {
		.listview-item.selected {
			.listview-icon {
				.icon-image {
					background-tint: $highlight-tint;
				}
			}

			> .listview-text {
				background-color: $highlight;
				color: $highlight-text;

				&::before {
					position: absolute;
					border: 1px solid $highlight;
				}
			}
		}
	}
}