.listview {
	border-top: 1px solid $button-shadow;
	border-left: 1px solid $button-shadow;
	border-bottom: 1px solid $button-highlight;
	border-right: 1px solid $button-highlight;
	background-color: $window;

	.listview-header {
		border-bottom: 1px solid $button-dark-shadow;
		background-color: $button-dark-shadow;

		.listview-header-column {
			background-color: $button-face;
			border-top: 1px solid $button-highlight;
			border-left: 1px solid $button-highlight;
			border-bottom: 1px solid $button-shadow;
			border-right: 1px solid $button-shadow;

			.label {
				padding-top: 1px;
			}

			&:not(:last-child) {
				margin-right: 1px;
			}

			&.selected {
				background-color: $highlight;
				color: $highlight-text;
			}
		}
	}

	.listview-container {
	}

	.listview-item {

		&.listview-row {
			.listview-icon {
				margin-left: 1px;
			}

			.label {
				margin-left: 1px;
				padding: 2px;
			}
		}


		&.selected {
			.listview-icon {
				.icon-image {
					background-tint: $highlight-tint;
				}
			}
			// Likely the name of the item
			:first-child {
				&:not(.TextEntry) {
					.label {
						background-color: $highlight;
						color: $highlight-text;
					}
				}
			}

			> .label {
				background-color: $highlight;
				color: $highlight-text;
			}

			.TextEntry {
				border: 1px solid black;

				&::before {
					border: 0px;
				}

				height: auto;
				overflow: scroll;
				flex-shrink: 1;

				.label {
					flex-grow: 0;
				}
			}
		}
	}
}
