.self-layout {
	&.self-layout-row {
		flex-direction: row;
		margin-bottom: 6px;
	}
}
.margin {
	margin: 6px;
}
.row {
	flex-direction: row;
}
.column {
	flex-direction: column;
}

.margin-bottom {
	margin-bottom: 6px;
}
.margin-top {
	margin-top: 6px;
}
.margin-left {
	margin-left: 6px;
}
.margin-right {
	margin-right: 6px;
}