.textentry {
	border-top: 1px solid $border-colour-top-inset;
	border-left: 1px solid $border-colour-left-inset;
	border-bottom: 1px solid $border-colour-bottom-inset;
	border-right: 1px solid $border-colour-right-inset;
	background-color: $base-colour-inset;
	height: 22px;
	padding: 0px;
}

.self-layout {
	>.textentry {
		width: 100px;
	}
}
