.treeview {
	border-top: 1px solid $button-shadow;
	border-left: 1px solid $button-shadow;
	border-bottom: 1px solid $button-highlight;
	border-right: 1px solid $button-highlight;
	background-color: $window;

	.treeview-node {

		.treeview-node-header {
			padding: 0px 1px;
		}

		.treeview-icon {
			margin-right: 6px;
			width: 16px;
			height: 16px; 
		}

		.treeview-expander {
			width: 9px;
			height: 9px;
			font-size: 9px; // For text expanders
			border: 1px solid $button-shadow;
			justify-content: center;
			align-items: center;
			margin: 0px 6px;

			&.empty {
				color: transparent; // Makes text expander invisible
				border: 1px solid transparent; // Makes text expander invisible
			}

			&::before {
				position: relative;
				width: 5px;
				height: 5px;
			}

			&.collapsed {
				&::before {
					bottom: 2px;
					content: '+';
				}
			}

			&.expanded {
				&::before {
					content: '­­―';
					bottom: -2px;
				}
			}
		}


		&.selected {
			> .treeview-node-header {

				.treeview-icon {
					// Adjust icon color if needed for selected state
				}

				.treeview-label {
					background-color: $highlight;
					color: $highlight-text;
				}
			}
		}
	}
}
