.textentry {
	border-top: 0.25px solid $border-colour-top-inset;
	border-left: 0.25px solid $border-colour-left-inset;
	border-bottom: 0.25px solid $border-colour-bottom-inset;
	border-right: 0.25px solid $border-colour-right-inset;
	background-color: $base-colour-inset;
	height: 22px;
	padding: 0px;
}
