
.xgui-panel {
	font-size: $default-text-size;
	font-family: $default-text-font;
	font-smooth: $default-text-smooth;
}

.Window {
	overflow: hidden;
	color: $window-text;
	border-top: 1px solid $button-light;
	border-left: 1px solid $button-light;
	border-bottom: 1px solid $button-dark-shadow;
	border-right: 1px solid $button-dark-shadow;
	background-color: $button-face;
	font-size: $default-text-size;
	font-family: $default-text-font;
	font-smooth: $default-text-smooth;

	> .window-content-panel {
		padding: 6px;
	}

	&.unfocused {
		.TitleBar {
			background-color: $inactive-title;
			color: $inactive-title-text;
		}
	}

	&.minimised {
		.TitleBar {
			.MinimiseButton {
				> .label {
					content: "2";
				}
			}
		}
	}

	&.maximised {
		.TitleBar {
			.MaximiseButton {
				> .label {
					content: "2";
				}
			}
		}
	}

	.TitleBar {
		align-items: center;
		padding: 2px;
		height: 18px;
		background-color: $active-title;
		color: $title-text;
		flex-shrink: 0;

		.TitleElements {
			align-items: center;
		}

		.TitleSpacer {
			padding: 10px;
		}

		.TitleIcon {
			height: 16px;
			width: 16px;
			margin-right: 3px;
			background-size: cover;
		}

		.TitleLabel {
			text-align: center;
			font-weight: $window-title-text-weight;
			font-size: $window-title-text-size;

			> .label {
				text-overflow: ellipsis;
				overflow: visible;
				flex-grow: 1;
			}
		}

		.Control {
			padding: 0px;
			align-items: center;
			justify-content: center;
			width: 16px;
			height: 14px;
			border-top: 1px solid $button-highlight;
			border-left: 1px solid $button-highlight;
			border-bottom: 1px solid $button-dark-shadow;
			border-right: 1px solid $button-dark-shadow;
			font-family: Marlett;
			font-size: 10px;

			&:active {
				border-top: 1px solid $button-dark-shadow;
				border-left: 1px solid $button-dark-shadow;
				border-bottom: 1px solid $button-highlight;
				border-right: 1px solid $button-highlight;

				&:focus, &.focus {
					border: 0px;
				}
			}
		}
	}

	.CloseButton {
		margin-left: 3px;
	}


	.Resizer {
		width: 13px;
		height: 13px;
		font-family: Marlett;
		margin-top: 0px;
		z-index: 1000;
		content: "";
		font-size: 16px;
		border-right: 4px solid $button-face;
		border-bottom: 4px solid $button-face;
		right:0px;
		bottom:0px;

		.rs-a {
			width: 13px;
			height: 13px;
			position: absolute;
			color: $button-highlight;
			content: "o";
			bottom: 0px;
			right: 0px;
		}

		.rs-b {
			width: 13px;
			height: 13px;
			position: absolute;
			color: $button-shadow;
			content: "p";
			bottom: 0px;
			right: 0px;
		}
	}
}
