
.xgui-panel {
	font-size: $default-text-size;
	font-family: $default-text-font;
	font-smooth: $default-text-smooth;
}

.Window {
	overflow: hidden;
	color: $default-text-colour;
	border-top: 1px solid $border-colour-top-window;
	border-left: 1px solid $border-colour-left-window;
	border-bottom: 1px solid $border-colour-bottom-window;
	border-right: 1px solid $border-colour-right-window;
	background-color: $base-colour;
	font-size: $default-text-size;
	font-family: $default-text-font;
	font-smooth: $default-text-smooth;

	> .window-content-panel {
		padding: 6px;
	}

	&.unfocused {
		.TitleBar {
			background-color: $window-titlebar-colour-inactive;
			color: $window-titlebar-text-colour-inactive;
		}
	}

	&.minimised {
		.TitleBar {
			.MinimiseButton {
				> .label {
					content: "2";
				}
			}
		}
	}

	&.maximised {
		.TitleBar {
			.MaximiseButton {
				> .label {
					content: "2";
				}
			}
		}
	}

	.TitleBar {
		align-items: center;
		padding: 2px;
		height: 18px;
		background-color: $window-titlebar-colour;
		color: $window-titlebar-text-colour;
		flex-shrink: 0;

		.TitleElements {
			align-items: center;
		}

		.TitleSpacer {
			padding: 10px;
		}

		.TitleIcon {
			width: 16px;
			height: 16px;
			background-size: cover;
		}

		.TitleLabel {
			text-align: center;
			font-weight: $window-title-text-weight;
			font-size: $window-title-text-size;

			> .label {
				text-overflow: ellipsis;
				overflow: hidden;
				flex-grow: 1;
			}
		}

		.Control {
			padding: 0px;
			align-items: center;
			justify-content: center;
			width: 16px;
			height: 14px;
			color: $default-text-colour;
			border-top: 1px solid $border-colour-top;
			border-left: 1px solid $border-colour-left;
			border-bottom: 1px solid $border-colour-bottom;
			border-right: 1px solid $border-colour-right;
			font-family: Marlett;
			font-size: 10px;

			&:active {
				border-top: 1px solid $border-colour-top-inset;
				border-left: 1px solid $border-colour-left-inset;
				border-bottom: 1px solid $border-colour-bottom-inset;
				border-right: 1px solid $border-colour-right-inset;

				&:focus, &.focus {
					border: 0px;
				}
			}
		}
	}

	.CloseButton {
		margin-left: 3px;
	}
}
