.Button {
	height: 24px;
	align-items: center;
	justify-content: flex-start;
	border: 0.25px solid $control-border-colour;
	border-radius: 3px;
	background-image: linear-gradient(to right, $control-colour, $control-colour-2);
	padding: 6px;


	&:focus, &.focus {
		border: 0.25px solid $control-border-colour-focus;
		background-image: linear-gradient(to right, $control-colour-focus, $control-colour-focus-2);
	}

	&:hover {
		border: 0.25px solid $control-border-colour-hover;
		background-image: linear-gradient(to right, $control-colour-hover, $control-colour-hover-2);
	}

	&:active {
		border: 0.25px solid $control-border-colour-active;
		background-image: linear-gradient(to right, $control-colour-active, $control-colour-active-2);

		&:focus, &.focus {
		}
	}
}

.self-layout {
	.button {
		min-width: 73px;
	}
}