.checkbox {
	align-items: center;

	.checkpanel, iconpanel {
		width: 20px;
		height: 20px;
		min-width: 20px;
		min-height: 20px;
		border-radius: 3px;
		background-color: $checkbox-colour;
		width: 11px;
		height: 11px;
		margin-right: 6px;
		align-items: center;
		justify-content: center;
	}


	&.checked {

		> .checkpanel, .iconpanel {
			background-color: $checkbox-colour-checked;
			border: 2px solid $checkbox-border-colour-checked;

			.checklabel {
				font-family: Marlett;
				font-size: 16px;
				color: $checkbox-icon-colour;
			}
		}

		> .checkmark {
			//color: $primary-alt;
			color: white;
			background-color: transparent;
		}
	}
}
