.TabContainer {
	flex-direction: column;
	justify-content: flex-start;

	> .tabs {
		padding: 8px; 
		padding-bottom: 0px; 
		z-index: 1;
		// This wrapper aligns the tabs properly
		flex-direction: row;
		background-color: $base-colour-alt;

		> .button {
			background-image: none;
			background-color: transparent;

			border-radius: 0px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;

			padding: 0px;
			padding-left: 10px;
			padding-right: 10px;

			height: 30px;
			color: $default-text-colour-inactive;

			&.active {
				border-top: 1px solid $sheet-border-colour-top;
				background-color: $sheet-colour-active;
				color: $default-text-colour;
			}

			&:hover {
			}
		}
	}

	> .sheets {
		overflow: hidden;
		background-color: $sheet-colour-active;
		border-top: 1px solid $sheet-border-colour-top;
		border-left: 1px solid $sheet-border-colour-left;
		border-bottom: 1px solid $sheet-border-colour-bottom;
		border-right: 1px solid $sheet-border-colour-right;
		padding: 5px;
	}
}
