
.Window {
	overflow: hidden;
	color: $default-text-colour;
	border: 1px solid $window-border-colour;
	border-radius: 6px;
	background-color: $base-colour;
	font-size: $default-text-size;
	font-family: $default-text-font;
	font-smooth: $default-text-smooth;

	> .window-content-panel {
		padding: 8px;
	}

	&.unfocused {
		.TitleBar {
			background-color: $window-titlebar-colour-inactive;
			color: $window-titlebar-text-colour-inactive;
		}
	}

	.TitleBar {
		align-items: center;
		height: 30px;
		font-family: Poppins;
		font-weight: bold;
		background-color: $window-titlebar-colour;
		color: $window-titlebar-text-colour;
		font-size: $title-text-size;
		font-family: $title-text-font;
		font-weight: $title-text-weight;
		flex-shrink: 0;

		.TitleElements {
			align-items: center;
		}

		.TitleSpacer {
			padding: 10px;
		}

		.TitleIcon {
			width: 16px;
			height: 16px;
			background-size: cover;
			background-image: url("XGUI/Resources/sbox/icon.png");
			margin: 6px;
		}

		.TitleLabel {
			font-weight: $window-title-text-weight;
		}

		.Control {
			align-items: center;
			justify-content: center;
			aspect-ratio: 1;
			margin-right: 4px;
		}

		.MinimiseButton {
			background-image: url("XGUI/Resources/sbox/minimize.png");
			background-size: 8px;
			background-position: center;
			background-repeat: no-repeat;
			color: rgba(0,0,0,0);
		}

		.MaximiseButton {
			background-image: url("XGUI/Resources/sbox/restore.png");
			background-size: 8px;
			background-position: center;
			background-repeat: no-repeat;
			color: rgba(0,0,0,0);
		}

		.CloseButton {
			background-image: url("XGUI/Resources/sbox/close.png");
			background-size: 8px;
			background-position: center;
			background-repeat: no-repeat;
			color: rgba(0,0,0,0);
		}
	}
}
