.selectlist {
	background-color: $base-colour-inset;
	border-top: 1px solid $border-colour-top-inset;
	border-left: 1px solid $border-colour-left-inset;
	border-bottom: 1px solid $border-colour-bottom-inset;
	border-right: 1px solid $border-colour-right-inset;


	.listoption {
		&.selected {
			background-color: $base-colour-active;
			color: $default-text-colour-alt;
		}
	}
}
