.group-box {
	border: 1px solid #808080;
	background-clip: padding-box;
	padding: 8px;
	margin-top: 9px;
	flex-direction: column;

	.group-box-title {
		position: absolute;
		background-color: inherit;
		top: -9px;
		left: 10px;
	}
}
