listview {
	flex-direction: column;

	.listview-item {
		flex-shrink: 0;
	}

	.listview-header {
		flex-shrink: 0;

		.listview-header-column {
			&:last-child {
				flex-grow: 1;
			}
		}
	}

	.listview-container {
		flex-direction: column;
		overflow: scroll;
	}

	.listview-icon-container {
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		padding: 4px;
		gap: 6px;
		flex-shrink: 0;

		.listview-icon-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 80px;
			height: 80px;
			padding: 4px 0px;
			margin: 2px;

			.listview-icon {
				margin-bottom: 5px;
				flex-shrink: 0;
			}

			> .label {
				text-align: center;
				max-width: 100%;
				text-overflow: ellipsis;
			}
		}
	}
}
