.scrollpanel {
	flex-direction: column;
	overflow: scroll;
	flex-grow: 1;

	> * {
		flex-shrink: 0;
	}

	.scrollpanel_canvas {
		flex-grow: 1;
		flex-direction: column;
		overflow: scroll;

		> * {
			flex-shrink: 0;
		}
	}


	.scrollbar_thumb {
		background-color: #444444;
		width: 16px;
		height: 16px;
	}

	.scrollbar_track {
		flex-direction: column;
		flex-grow: 1;
	}

	.scrollbar_button {
		width: 16px;
		height: 16px;
		align-items: center;
		justify-content: center;
	}

	.scrollbar_vertical {
		position: absolute;
		width: 16px;
		flex-direction: column;
		right: 0;
		z-index: 1000;
	}

	.scrollbar_horizontal {
		position: absolute;
		height: 16px;
		flex-direction: row;
		bottom: 0;
		z-index: 1000;
	}

	.scrollbar_corner {
		position: absolute;
		background-color: #444444;
		z-index: 1000;
	}
}
