.toolbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-shrink: 0;
	flex-grow: 1;

	&.vertical {
		flex-direction: column;
		align-items: flex-start;
	}

	.toolbar-drag-handle {
		cursor: move;
		display: flex;
	}

	.toolbar-items {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-grow: 1;
	}

	.menu-item {
		display: flex;
		align-items: center;
	}

	.toolbar-button {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.toolbar-separator {

		.vertical & {
			width: 80%;
			height: 1px;
		}
	}

	.toolbar-item {

		.vertical & {
			margin: 2px 0;
		}
	}

	&.toolbar-drop-target {
	}
}

.toolbar-container {
	flex-shrink: 0;
	flex-direction: column;
}

// Toolbar Drag Ghost
.toolbar-drag-ghost {
	pointer-events: none;
	z-index: 999;
}
