.window {
	> .TitleBar {
		> .TitleElements {
			width: 100%;

			> .TitleSpacer {
				flex-grow: 1;
			}
		}

		> .TitleBackground {
			z-index: -10;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}

	> .window-content {
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
}
