.xgui-icon-panel {
	align-items: center;
	justify-content: center;

	.icon-image {
		width: 100%;
		height: 100%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.material-icon {
		aspect-ratio: 1;
		font-family: "Material Icons";
		font-weight: normal;
		font-style: normal;
		white-space: nowrap;
	}
}
