.ContextMenu {

	.MenuItem {
		margin: 1px;
		min-width: 64px;
		height: 20px;
		align-items: center;

		.ItemText {
			margin-right: 32px;
		}

		.ItemArrow {
			right: 0px;
			position: absolute;
			font-size: 17px;
		}

		.ItemIcon {
			margin-left: 6px;
			margin-right: 6px;
		}

		&.open {
			background-color: $base-colour-active;
			color: $default-text-colour;
		}

		&:hover {
			background-color: $base-colour-active;
			color: $default-text-colour;
		}
	}
}
