// Info label
.info {
	color: $default-text-colour-info;
	padding: 3px;
}

// Info label
.info-text {
	color: $default-text-colour-info;
}

// Active label
.active-text {
	color: $default-text-colour-active;
}

// Standard label
.standard-text {
	color: $default-text-colour-standard;
}

.control-text { 
	color: $default-text-colour-label;
} 

// Control Label
.controllabel {
	> .label {
		height: 24px;
		align-items: center;
		color: $default-text-colour-label;
	}

	&.focus,
	&:focus {
		> .label {
			color: $default-text-colour-active;
		}
	}
}