
.checkbox {
	min-width: 24px;
	height: 16px;
	cursor: pointer;

	.checkpanel, iconpanel {
		flex-shrink: 0;
		width: 15px;
		height: 15px;
		border: 1px solid rgba(103,100,88,255);
		border-radius: 3px;
		margin-right: 8px;
		color: white;

		.checklabel {
			transform: translate(-4 -4);
			font-family: Webdings;
			font-size: 22px;
			color: transparent;
		}
	}

	.label {
		margin-right: 10px;
		bottom: 1px;
		color: $default-text-colour-label;
	}

	> .checkmark {
		padding: 1px;
		font-size: 14px;
		//border: 3px solid $primary;
		border-radius: 3px;
		text-align: center;
		justify-content: center;
		align-items: center;
		color: transparent;
		min-height: 15px;
		margin-right: 10px;
		pointer-events: none;
		cursor: pointer;
	}

	&.checked {

		.label {
			margin-right: 10px;
			color: #c4b550;
		}

		> .checkpanel, .iconpanel {
			.checklabel {
				font-family: Webdings;
				font-size: 22px;
				color: white;
			}
		}

		> .checkmark {
			//color: $primary-alt;
			color: white;
			background-color: transparent;
		}
	}

	&:active {
		color: gray;
		transform: scale(1);
	}

	&:hover {
	}
}
