.combobox,
.selector {
	border-bottom: 1px solid $border-colour-bottom-inset;
	border-right: 1px solid $border-colour-right-inset;
	border-top: 1px solid $border-colour-top-inset;
	border-left: 1px solid $border-colour-left-inset;
	background-color: $base-colour-inset;
	color: $default-text-colour-label;
	height: 24px;

	&:focus, &.focus {
		> .button-label {
			background-color: $base-colour-active;
			color: $default-text-colour;
			border: 0px solid transparent;
			width: auto;
		}
	}

	&:focus:not(:active), &.focus:not(:active) {
		box-shadow: 0px 0px 0px 0px transparent;
	}

	> .selector_indicator {
		background-image: $control-dropdown-arrow;
		background-repeat: no-repeat;
		background-position: right center;
		font-size: 0px;
		width: 9px;
		height: 8px;
		position: absolute;
		right: 4px;
	}

	&:active {
		padding: 5px;
	}
}


// Popup / Pane

.dropdown-panel {
	font-size: $default-text-size;
	font-family: $default-text-font;
	font-smooth: $default-text-smooth;
	color: $default-text-colour;
	pointer-events: all;

	background-color: $base-colour;
	border-top: 1px solid $border-colour-top;
	border-left: 1px solid $border-colour-left;
	border-bottom: 1px solid $border-colour-bottom;
	border-right: 1px solid $border-colour-right;

	> .button {
		background-color: $base-colour;
		border: 0px;

		&:hover {
			background-color: $base-colour-active;
		}
	}
}

// combo box list

selectlist {
	padding: 7px;
	border-bottom: 1px solid $border-colour-bottom-inset;
	border-right: 1px solid $border-colour-right-inset;
	border-top: 1px solid $border-colour-top-inset;
	border-left: 1px solid $border-colour-left-inset;
	background-color: $base-colour-inset;

	listoptgroup {
		.group-title {
			height: 24px;
			border-bottom: 1px solid $border-colour-bottom;
			align-items: flex-end;
			font-size: 10px;
			color: $default-text-colour-active;
			padding-left: 19px;
			padding-bottom: 4px;
			margin-bottom: 1px;
		}
	}

	.listoption {
		height: 20px;
		min-height: 20px;
		align-items: center;

		.icon {
			height: 16px;
			width: 16px;
			background-size: contain;
		}

		.label {
			align-self: flex-end;
			margin-left: 4px;
			margin-bottom: 2px;
		}

		&.grey {
			.label {
				color: $default-text-colour-inactive;
			}

			.icon {
				filter: sepia(100%) hue-rotate(55) saturate(220%) brightness(20%);
			}
		}

		&.selected {
			background-color: $base-colour-active;

			.label {
				color: $default-text-colour;
			}
		}
	}
}
.self-layout {
	> .combobox {
		min-width: 128px;
	}
}